/* o import */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

/* as variaveis padrao ne*/
:root {
  /* padronizacao das duas fontes ja aqui */
  --pixel-font: "Press Start 2P", monospace;  /* fonte de titulos, botoes, ui de destaque */
  --vt-font: "VT323", monospace;              /* textos e descricoes */

  /* 2 tamanhos */
  --size-title: 16px;
  --size-text: 12px;
}

/* classes utilitarias pra adicionar */
.txt-title {
  font-family: var(--pixel-font);
  font-size: var(--size-title);
}

.txt-body {
  font-family: var(--vt-font);
  font-size: var(--size-text);
}
