.sw-window{

    position: relative;

}

.sw-window-header{

    cursor: grab;

}

.sw-window-header:active{

    cursor: grabbing;

}

.sw-resize-handle{

    position:absolute;

    right:0;

    bottom:0;

    width:16px;

    height:16px;

    cursor:nwse-resize;

}